.github
.git
*.md
*.db
*.db-journal
*.exe
*.exe~
.vscode
.gitignore
Makefile
docs
.eslintcache
.gocache
.gomodcache
.cache
logs
data
.env
upload
/web/node_modules
/web/default/node_modules
/web/default/dist
/web/classic/node_modules
/web/classic/dist
!THIRD-PARTY-LICENSES.md
